<h1 class="title">
    <span>Manager les produits</span>
    <a href="/dashboard/create-product">
        <i class="icon fa-sm fas fa-plus"></i>
    </a>
</h1>

<table class="tabler">
    <thead class="header">
        <tr class="row">
            <th class="cell">nom</th>
            <th class="cell">ref</th>
            <th class="cell">categorie</th>
            <th class="cell">prix</th>
            <th class="cell">stock</th>
            <th class="cell">edit</th>
            <th class="cell">suppr</th>
        </tr>
    </thead>
    <tbody>
        {{#unless products.length}}
        <tr>
            <td class="cell" colspan="6">
                pas de produits enregistrés pour le moment...
            </td>
        </tr>
        {{/unless}}
        {{#each products}}
        <tr class="row">
            <td class="cell">{{this.name}}</td>
            <td class="cell">{{this.ref}}</td>
            <td class="cell">{{this.category.label}}</td>
            <td class="cell">{{this.price}}</td>
            <td class="cell">{{this.stock}}</td>
            <td class="cell">
                <a href="/dashboard/product/edit/{{this._id}}">
                    <i class="icon far fa-edit"></i>
                </a>
            </td>
            <td class="cell">
                <form method="post" action="/product/delete/{{this._id}}">
                    <button class="is-clickable">
                        <i class="icon fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>