<h1 class="title">Manager utilisateurs</h1>
<table class="tabler">
    <thead>
        <tr class="row">
            <th class="cell">avatar</th>
            <th class="cell">username</th>
            <th class="cell">mail</th>
            <th class="cell">role</th>
            <th class="cell">edit</th>
            <th class="cell">delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr class="row">
            <td class="cell avatar">
                <img src="{{this.avatar}}" alt="avatar de {{this.username}}">
            </td>
            <td class="cell">{{this.username}}</td>
            <td class="cell">{{this.email}}</td>
            <td class="cell">{{this.role}}</td>
            <td class="cell">
                <a href="/dashboard/users/edit/{{this._id}}">
                    <button class="btn">e</button>
                </a>
            </td>
            <td class="cell">
                <form class="form" method="post" action="/users/delete/{{this._id}}">
                    <button class="btn">x</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>