<h2 class="title">
    {{product.name}}
</h2>

<p>
    {{product.price}} (stock:{{product.stock}})
</p>

{{!-- TODO ICI : WIDGET AJOUTER PANIER --}}
{{!-- TODO ICI : WIDGET PRODUITS ASSOCIES --}}

<img src="{{product.image}}" alt="logo du produit {{product.name}}" class="img">